/******************************************************************************
 * Fonts
*******************************************************************************/

$font-family-mono: 'Source Code Pro', monospace;

/******************************************************************************
 * Colors
*******************************************************************************/

// base colors
$color-black: #1c1b22;
$color-white: #fff;
// brand colors
$color-brand-black: #212128;
$color-brand-yellow: #fee000;

/******************************************************************************
 * Spacing
*******************************************************************************/

$expander: 20px;
$expander-two: 40px;
$expander-three: 80px;
$nudge: 17px;
$padding-wrap: 7vw;

/******************************************************************************
 * Sizes
*******************************************************************************/

$wrap-copy: 800px;
$intro-logo-size: 80px;

/******************************************************************************
 * Typography
*******************************************************************************/

$p-size: 18px;
$p-size-two: 17px;
$p-line: 1.6;
$p-line-two: 1.6;
$h1-size: 12vw;
$h1-size-two: 70px;
$h1-line: 1.2;
$h1-line-two: 1.2;
$h2-size: 8vw;
$h2-size-two: 40px;
$h2-size-fout: 30px;
$h2-size-fout-two: 45px;
$h2-line: 1;
$h2-line-two: 1;
$h3-size: 20px;
$h3-line: 1.5;
$meta-size: 14px;
$quote-size: 19px;
$quote-size-two: 32px;
$quote-line: 1.5;
$quote-line-two: 1.5;
$nava-size: 40px;
$nava-size-two: 8vw;
$nava-line: 1.2;
$nava-line-two: 1.2;
$track: 0;
$track-two: 0.8px;
$footer-size: 50%;
$footer-size-two: 80%;
$btn-pad: 0.6em 1em;
$btn-size: 20px;

/******************************************************************************
 * Breakpoints
 * These dimensions mirror those from boostrap-grid
 * @See: https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
*******************************************************************************/

$bp-xx-small: 320px;
$bp-x-small: 480px;
$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;

/******************************************************************************
 * Layering
*******************************************************************************/

$z-layer-10: 100;
$z-layer-09: 90;
$z-layer-08: 80;
$z-layer-07: 70;
$z-layer-06: 60;
$z-layer-05: 50;
$z-layer-04: 40;
$z-layer-03: 30;
$z-layer-02: 20;
$z-layer-01: 10;
$z-layer-behind: -1;
$z-layer-infront: 1000;

/******************************************************************************
 * Animations
*******************************************************************************/

$ease: cubic-bezier(0.62, 0, 0.38, 1); // main easing. custom ease-in-out
$ease-two: cubic-bezier(0.8, 0, 0.6, 1); // longer ease-in-out
$duration: 200ms;
$duration-two: 400ms;
$duration-three: 800ms;
$duration-four: 1000ms;
$duration-five: 1200ms;